/venv
/cracked_results
__pycache__/
*.pyc
*.pyo
*.hc22000
/bin/
debug_log*.txt
/hc22000_cache/
*.commit_hash
hashcat-*.zip
hashcat-*.7z
aircrack-ng-*.zip
/kernels/
/logs/
*.meta
*.md
!README.md
wifi-wordlist.txt
*.etag
# Third-party Wordlists
crackstation*.txt
rockyou.txt
*.dict

*.lst
